table, th, td{
   
    empty-cells: hide;
    color: white;
   
   
  }

table{
    border-collapse: unset;
    border-spacing: 10px;
    padding: 5px;
   
   
  
}

.header > *{
   
    position: sticky;
position: -webkit-sticky;
position: -moz-sticky;
position: -o-sticky;
position: -ms-sticky;
    top: 0;
    background: white;
    color: black;
}

td, th{
    width: 150px;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
   
}

td{
  
    color: black;
   
    background: yellow;
}

.eventname{
    border-radius: 5px;
    background: orange !important; 
}

.eventdetails{
    border-radius: 5px;
    background: orange !important; 
}


h1{
    color: white;
}

@media (max-width: 767px) {

table{
    display: block;
    overflow: auto;
}

}