/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

	#OLYMPE | Smart Coming Soon Template
	@Author		   Madeon08
	@Type          CSS
	@Last Update   7:00 PM Monday, September 29th, 2014

	TABLE OF CONTENTS
	---------------------------
	 1. Global
	 	 1.1 Basic styles
	 2. Welcome
	 3. Countdown
	 	 3.1 Chevron
		 3.2 YouTube
     4. Map
	 5. Newsletter
	 6. About
	 7. Contact Form
	 8. Inline popups
	 9. Footer
	10. Loading
	11. Media Queries

  =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

/* ================================= */
/* ::::::::::: 1. Global ::::::::::: */
/* ================================= */
	
/*@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans+Condensed:700,300);*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0 none;
	padding: 0;
	vertical-align: baseline;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.clear {
	clear: both;
	width: auto;
}

html {
	position: relative;
	height: 100%;
}

/* ================================= */
/* ::::::: 1.1 Basic styles :::::::: */
/* ================================= */

body {
	background: #111111;
	padding: 0;
	text-align: center;
	font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	margin: 0 auto;
	overflow: hidden;
}

a {
	text-decoration: none;
	outline: none;
}

p {
	line-height: 2em;
}

a:focus {
	outline: none;
	outline-offset: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif ;
	color: #333;
}


.opl {
position:fixed;
top:100px;
left:0px;
z-index:99999;
}
.opl a {
width:73px;
height:56px;
text-indent:-9999px;
display:block;
background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}

.opa {
position:fixed; 
top:160px; 
left:0px; 
z-index:99999; 
}
.opa a {
width:60px;
height:40px;
text-indent:-9999px;
display:block;
background:url('http://onepageawards.com/ribbons/brand-award-left.png') no-repeat;
}

h1, h2 {
	width: 100%;
}

h1 {
	margin-top: 100px;
	color: #000;
	margin-bottom: 5px;
	font-size: 70px;
	font-weight: 100;
}

h2 {
	color: #333;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing:4px;
}

h2.story {
    margin: 60px 0 0;
	color: #fff;
	font-weight: 100;
	font-size: 50px;
}

.storyemptyblock {
	height: 196px;
	border: 0px solid black;
}

h2.photos {
	font-weight: 100;
	font-size: 50px;
}


h3 {
	line-height: 1.8em;
	font-size: 18px;
}

h4 {
	font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-weight:700;
	font-size: 16px;
	line-height: 26px;
	text-transform:uppercase;
	letter-spacing:1px;
}


.fixheight {
	height: 120px
}
h4.storybottom {
	color: red;
	padding: 10px 20px 0;
	margin: 0;
}

h4.storytop {
	color: red;
	margin-top: 50px;
	padding: 0 20px 0;
	margin-bottom: 0;
}


h4.blankstory {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 50%;
	width: 50%;
	padding-top: 0;
	border: 0px solid #f00;
}

h4.photos {
    margin-bottom: 20px;
}

h4.registry {
	color: #fff;
	margin-bottom: 20px;
}

h4.photos:before {
	content:"";
	height: 0;
	width: 0;
	border: 6px solid #c9c9c9;
	border-radius:1000px;
	position:relative;
	left: -21px;
	display: inline-block;
}

hr.story {
	border-color: #333;
	text-align: center;
	margin: 0 auto;
}

p.story {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
	line-height: 2em;
	padding: 0 20px;
	margin: 0;
	font-weight: 600;
}

.registrylogos {
	margin: 10px 10px;
	opacity:0.3;
	-webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.registrylogos:hover {
	opacity:1;
}

p.copyright{
	margin-top: 50px;
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main h1 {
	padding: 150px 50px;
	width: 100%;
	font-size: 45px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 300;
	color: white;
	margin: 0;
}

.btn {
	display: inline-block;
	line-height: 100%;
	padding: 0.7em;
	text-decoration: none;
	color: #fff;
	width: 200px;
	line-height: 140%;
	font-size: 17px;
	font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-weight: bold;
}

.btn:hover, .btn:hover {
	background: #444;
}

.btn, .btn.disabled, .btn[disabled] {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: white;
    background-color: transparent;
    border: none;
    outline: none !important;
}

.tooltip {
	
	text-transform: none;
}

.tooltip-inner {
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif ;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  color: white;
  background-color: #212121;
}

.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
  border-top-color: #212121;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #212121;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #212121;
}

.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #212121;
}

.main section {
	overflow: hidden;
}

.display-none {
	display: none;
}

.border {
	background: #CCC;
	display: block;
	height: 1px;
	margin: 30px auto 25px;
	width: 50px;
}

.index999 {
	z-index: 99999 !important;
}

.index-999 {
	z-index: -999 !important;
}

.opacity-1 {
	opacity: 1 !important;
}

.opacity-0 {
	opacity: 0 !important;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.about-section .container {
	border-left: 1px solid #c9c9c9;
}

.timelinebox {
	border: 1px solid #c9c9c9;
	margin-left: 15px;
	padding: 10px;
	display: inline-block;
}

.timelinebox h3 {
	margin: 0;
}

.photosection {
	margin-top: 40px;
	margin-bottom: 45px;
}

.photosection:first-of-type {
	margin-top: 90px;
}

.photosection:last-of-type {
	margin-bottom: 95px;
}

svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.rect {
  fill: none;
  stroke-width: 8px;
  stroke: white;
  stroke-dasharray: 40;
  stroke-dashoffset: 50%;
  -webkit-animation: movedash 1.5s forwards 0s infinite;
          animation: movedash 1.5s forwards 0s infinite;
}

@-webkit-keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}
/* ================================= */
/* :::::::::: 2. Welcome ::::::::::: */
/* ================================= */

.outer {
    width:100%;
    height:100%;
    position: absolute;
}

.tlt {
    font-size: 30px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif ;
    color: #FFF !important;
    letter-spacing: 2px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    width: 50%;
    z-index: 9999;
}

.slideabout {
    font-size: 30px !important;
    font-family: "Open sans", 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif !important;
    color: #FFF !important;
    letter-spacing: 5px !important;
    font-weight: 700 !important;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    z-index: 9999;
}


section.welcome-section {
	background: rgba(0,0,0,0.35);
}

#welcome {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	height: auto;
	z-index: 999
}

.main section.welcome-section h1 {
	text-align: center;
	padding: 0px 0 5px;
	color: #e8ddd4;
}

#welcome h2 {
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 20px;
    color: #FFF;
}

a.anchor-link {
	color: #F8F8F8;
	outline: none;
	padding-top: 10px;
}

@-webkit-keyframes slideInUp {
	
		0% {
			opacity: 0;
			-webkit-transform: translateY(2000px);
			transform: translateY(2000px);
		}
		
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	
	}
	
 @keyframes slideInUp {
	 
		0% {
			opacity: 0;
			-webkit-transform: translateY(2000px);
			-ms-transform: translateY(2000px);
			transform: translateY(2000px);
		}
		
		100% {
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}

	}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

@-webkit-keyframes slideInDown {
	
		0% {
			opacity: 0;
			-webkit-transform: translateY(-2000px);
			transform: translateY(-2000px);
		}
		
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	
	}
	
 @keyframes slideInDown {
	 
		0% {
			opacity: 0;
			-webkit-transform: translateY(-2000px);
			-ms-transform: translateY(-2000px);
			transform: translateY(-2000px);
		}
		
		100% {
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}

	}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

h3.title {
	font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	color: #493c4c;
	display: block;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 0.9em;
	margin: 0;
	padding-bottom: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.dash {
	font-family: "Open sans", 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	padding-bottom: 10px;
	position: relative;
	opacity: 1;
}

.dash-glob {
	border-left: 1px solid #CCCCCC;
}

.dash_title {
	font-size: 16px;
	width: 100%;
	color: #493c4c;
	display: block;
	clear: both;
}

.main section.countdown-section {
	background: #EEEEEE;
	padding: 20px 0;
	position: relative;
	z-index: 99;
}


.main section.subscribe-newsletter {
	background: transparent;
	position: relative;
	background-size: 100% 100%;
	width: 100%; 
	z-index: 99;
}

.main section.countdown-section h1 {
	text-align: center;
	padding: 0;
	margin-bottom: 60px;
	font-size: 50px;
	letter-spacing: -1px;
	color: #e8ddd4;
}

.main section.countdown-section h2 {
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 0 0 10px;
	text-align: left;
}

.main section.countdown-section p {
	text-align: left;
	padding: 0;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: -1px;
	/*color: #F00;*/
	    color: #224092;
	     text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /*box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);*/

}

.scrollwrap > h3:nth-child(1){
	color: #224092;
	font-family: "Satisfy", cursive;
}
.main section.countdown-section .letter-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
    position: absolute;
    font-family: "Satisfy", cursive;
    color: #224092;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.7);
    cursor: pointer;
}


/* ================================= */
/* :::::::::: 3.1 Chevron :::::::::: */
/* ================================= */

.scrollbott {
	bottom: 20px;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	left: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	z-index: 11;
}


.owl-carousel .item {
	padding: 60px 0 100px;
}

.owl-carousel .item p{
	background:red ; 
	background-size:cover;      
	border:1px solid red;
	height: 150px;
	width: 150px;
}


.controls .fa {
	color: #A5ABB5;
	font-size: 25px;
	margin: 13px 0 0 -30px;
	position: absolute;
}

p.message {
	font-size: 12px;
	text-align: center;
	height: 20px;
}


/* ================================= */
/* ::::::::::: 6. About :::::::::::: */
/* ================================= */

#carousel-services {
	margin-top: 10px;
}

.main section.about-section {
	background: #EEEEEE;
	padding: 0;
	text-align: justify;
	position: relative;
	z-index: 99;
}

.main section.about-section h2 {
	line-height: 1.222em;
	margin-bottom: 20px;
	font-weight: 400;
}

.main section.about-section p {
	color: #8f9396;
}

.contact-button {
    background: #e8ddd4;
    border-radius: 5px;
    border: 1px solid #ded2a1;
    color: #333;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 5px 0;
    padding: 13px 20px 13px;
    text-shadow: none;
    transition: all 200ms ease-out 0s;
}

.contact-button:hover {
	background: #efd588;
	border: 1px solid #ded2a1;
	color: #000;
}

.about-second-button {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    color: #6C7175;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 5px 0;
    padding: 13px 20px 13px;
    text-shadow: none;
    transition: all 200ms ease-out 0s;
}

.about-second-button:hover {
	background: #26C281;
	border: 1px solid #CCCCCC;
	color: #F8F8F8;
}

.about-section .btn i {
	padding-right: 5px;
}

.carousel-inner {

}

.carousel-inner .item {

}

.carousel-control {

}

/* ================================= */
/* ::::::::::: 9. Footer ::::::::::: */
/* ================================= */

footer {
	/*background: rgba(0, 0, 0, 0.6);*/
	background: #212121;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	padding: 50px 0;
	position: relative;
	z-index: 99;
}

footer p {
	margin: 0;
	font-family: 'Montserrat', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #9e9e9e;
}

#mail-us-footer {
	max-width: 60%;
	margin: 0 auto 25px;
}

#mail-us-footer a { 
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: 100;
	font-size: 35px;
	color:#493c4c;
	background-color: #e8ddd4;
	padding: 10px 0 13px;
	display: block;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mail-us-footer a:hover {
  background-color: #FFF;
  color: #333333;
  text-decoration: none;
}

h2#call-us-footer {
	font-family: 'Montserrat', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-size: 26px;
	color: #F8F8F8;
}

span.separator-number {
	padding:0px 2%;
	display:inline-block;
}

p.text-footer {
	font-family: 'Montserrat', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #F8F8F8;
	margin: 20px 0;
}

.social-icons {
	margin-bottom: 20px;
}

.social-icons a:last-child {
	margin-right: 0px;
}

.btn.btn-clear {
	color: #F8F8F8;
	font-weight: 700;
	transition-property: transform;
}

.social-icons .btn {
	margin-right: 15px;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
}

.btn-round i {
	background: transparent;
	border: 1px solid #464646;
	color: #F8F8F8;
	display: table-cell;
	font-size: 20px;
	height: 45px;
	line-height: 1;
	transition: all 200ms ease-in 0s;
	vertical-align: middle;
	width: 45px;
	margin: 0 10px;
}

.btn-round {
	display: inline-block;
	height: 45px;
	padding: 0;
	width: 45px;
}

.social-icons a:hover {
	text-decoration: none;
}

.social-icons i.fa-twitter {
	border-color: #70c2e9;
	background: #70c2e9;
	color: #FFFFFF;
}

.social-icons i.fa-twitter:hover {
	border-color: #70c2e9;
	background: #70c2e9;
	color: #2B2D35;
}

.social-icons i.fa-facebook {
	border-color: #677fb5;
	background: #677fb5;
	color: #FFFFFF;
}

.social-icons i.fa-facebook:hover {
	border-color: #677fb5;
	background: #677fb5;
	color: #2B2D35;
}

.social-icons i.fa-instagram {
	border-color: #d8545d;
	background: #d8545d;
	color: #FFFFFF;
}

.social-icons i.fa-instagram:hover {
	border-color: #d8545d;
	background: #d8545d;
	color: #2B2D35;
}

.social-icons i.fa-dribbble {
	border-color: #e299c2;
	background: #e299c2;
	color: #FFF;
}

.social-icons i.fa-dribbble:hover {
	border-color: #e299c2;
	background: #e299c2;
	color: #2B2D35;
}

#anchor {
	overflow: hidden;
	text-align: center;
	width: 100%;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}

a#go-top {
	background: transparent;
	border-radius: 7px 7px 0 0;
	bottom: 0;
	color: #333333;
	height: 45px;
	width: 45px;
	margin-top: 20px;
	padding: 0;
	z-index: 100;
	outline: none;
}

#go-top i {
	color: #464646;
}

/* ================================= */
/* :::::::::: 10. Loading :::::::::: */
/* ================================= */

.globload {
	background: #212121;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}

.globload img {
	 display:block;
	 margin:auto;
	 margin-bottom:20px;
}

.spinner {
	font-size: 10px;
	height: 200px;
	width: 200px;
	position: absolute;
	margin: auto;
	text-align: center;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}

.ball-anim {
  width: 130px;
  height: 70px;
  padding-top: 80px;
  margin: 0 auto;
}

.ball {
  width: 0.8em;
  height: 0.8em;
  margin: 5px;
  border-radius: 50%;
  float:left;
  }    
    .ball:nth-child(1) {
      background: red;
      -webkit-animation: right 1s infinite ease-in-out;
      -moz-animation: right 1s infinite ease-in-out;
      animation: right 1s infinite ease-in-out;    
    }

    .ball:nth-child(2) {
      background: #F8F8F8;
      -webkit-animation: left 1.1s infinite ease-in-out;
      -moz-animation: left 1.1s infinite ease-in-out;
      animation: left 1.1s infinite ease-in-out;
    }

    .ball:nth-child(3) {
      background: red;
      -webkit-animation: right 1.05s infinite ease-in-out;
      -moz-animation: right 1.05s infinite ease-in-out;
      animation: right 1.05s infinite ease-in-out;
    }

    .ball:nth-child(4) {
      background: #F8F8F8;
      -webkit-animation: left 1.15s infinite ease-in-out;
      -moz-animation: left 1.15s infinite ease-in-out;
      animation: left 1.15s infinite ease-in-out;
     }

    .ball:nth-child(5) {
      background: red;  
      -webkit-animation: right 1.1s infinite ease-in-out;
      -moz-animation: right 1.1s infinite ease-in-out;
      animation: right 1.1s infinite ease-in-out;
    }

    .ball:nth-child(6) {
      background: #F8F8F8;  
      -webkit-animation: left 1.05s infinite ease-in-out;
      -moz-animation: left 1.05s infinite ease-in-out;
      animation: left 1.05s infinite ease-in-out;
     }

    .ball:nth-child(7) {
      background: red;  
      -webkit-animation: right 1s infinite ease-in-out;
      -moz-animation: right 1s infinite ease-in-out;
      animation: right 1s infinite ease-in-out;
    }


@-webkit-keyframes right {
  0%   { -webkit-transform: translateY(-15px);   }
  50%  { -webkit-transform: translateY(15px);    }
  100% { -webkit-transform: translateY(-15px);   }
}

@-webkit-keyframes left {
  0%   { -webkit-transform: translateY(15px);    }
  50%  { -webkit-transform: translateY(-15px);   }
  100% { -webkit-transform: translateY(15px);    }
}

@-moz-keyframes right {
  0%   { -moz-transform: translateY(-15px);   }
  50%  { -moz-transform: translateY(15px);    }
  100% { -moz-transform: translateY(-15px);   }
}

@-moz-keyframes left {
  0%   { -moz-transform: translateY(15px);    }
  50%  { -moz-transform: translateY(-15px);   }
  100% { -moz-transform: translateY(15px);    }
}

@keyframes right {
  0%   { transform: translateY(-15px);  }
  50%  { transform: translateY(15px);   }
  100% { transform: translateY(-15px);  }
}

@keyframes left {
  0%   { transform: translateY(15px);   }
  50%  { transform: translateY(-15px);  }
  100% { transform: translateY(15px);   }
}

.spinner h6 {
	font-family: 'Lucida Grande', Lato, 'Helvetica Neue', Arial, Verdana, sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #FFF
}

/* ================================= */
/* :::::: 11. Media Queries :::::::: */
/* ================================= */

/* *=*=*=*=*=*=*=*=*=* Small screen *=*=*=*=*=*=*=*=*=* */
		
@media only screen and (max-width: 1600px) {

		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
	
	}

@media only screen and (max-width: 1280px) {

		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
	
	}

@media only screen and (max-width: 1023px) {

		h4 {
			font-size: 17px;
			line-height: 20px;
		}
        
        .storyemptyblock {
    height: 170px;
    border-color: transparent;
}


.fixheight {
	height: 100px
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -15px;
  top: 16%; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -15px;
  top: 16%;
}
		
		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
		
		.item img {
			width: 100%;

		}
        
        .item img.ring {
            width: 75px;
        }
		
		#newsletter-section h3 {
			font-size: 18px;
		}

		#myCarousel, #myCarousel2, #myCarousel3 {
			margin-top: 50px;
		}
		
		
	}
	
@media only screen and (max-width: 568px) {
    
    
        p.story {
	padding: 0 70px;
}

.photosection:first-of-type {
    margin-top: 50px;
}

		.main section.welcome-section h1 {
			font-size: 35px;
		}
		
		#subscribe .form-control {
			width: 100%;
		}
		
		#subscribe button.submit {
			width: 100%;
		}
		
		#subscribe .form-control {
			width: 100%;
			margin-bottom: 10px;
			border-right:1px solid #aaa;
			border-radius: 5px;
			background: transparent;
		}
		
		#subscribe input#mail-sub {
			width: 100%;
		}
		
		#subscribe button.submit {
			border-radius: 5px;
			color: #333;
			font-size: 16px;
			line-height: 20px;
			padding: 11px 16px;
			transition: all 0.3s ease-in-out 0s;
			width: 100%;
			margin-left: 0;
		}
		
		.fa-bell {
			margin-bottom: 15px;
		}
		
		.digit {
			font-size: 50px;
		}

		.main section.about-section h2, h2.story {
			font-size: 2em;
		}

		.main section.about-section {
    		text-align: left;
		}

		.main section.about-section .btn {
    		width: 100%;
		}

		.main section.about-section .about-second-button {
			margin-bottom: 20px;
		}

		#mail-us-footer {
    		margin: 0 auto 25px;
    		max-width: 100%;
		}

		#mail-us-footer a {
			font-size: 28px;
		}

		h2#call-us-footer {
    		font-size: 20px;
		}

		p.text-footer {
			font-size: 11px;
		}

		#myCarousel, #myCarousel2, #myCarousel3 {
			margin-top: 0px;
		}
		
	}

/* *=*=*=*=*=*=*=*=*=* Tablet portrait *=*=*=*=*=*=*=*=*=* */

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait) {

		.container {
			width: 720px;
		}

		#pattern {
			display: none;
		}

		.fa-play, .fa-pause {
			display: none;
		}
		
		#carousel-services {
			margin-top: 40px;
		}
		
		.dash-glob {
			width: 100%;
		}
		
		#countdown_dashboard .dash-glob:nth-child(3) {
			border: none;
		}
		
		.dash-glob {
			width: 50%;
		}
		
		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
		
		h4 {
			font-size: 17px;
			line-height: 20px;
		}
		
		#formcontactus {
			margin-top: 40px;
		}
		
		.item img {
			width: 100%;
		}
		
		.about-section p {
			font-size: 12px;
		}
		
	}

/* *=*=*=*=*=*=*=*=*=* Tablet landscape *=*=*=*=*=*=*=*=*=* */

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : landscape) {

		.fa-play, .fa-pause {
			display: none;
		}

		#pattern {
			display: none;
		}

		#subscribe .form-control {
			border: none;
			color: #333;
			background: rgba(255,255,255,1)
		}
		
		h4 {
			font-size: 17px;
			line-height: 20px;
		}
		
		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
		
		#formcontactus {
			margin-top: 40px;
		}
		
		.about-section p {
			font-size: 12px;
		}
		
	}

/* *=*=*=*=*=*=*=*=*=* Phone portrait *=*=*=*=*=*=*=*=*=* */

@media (max-width:780px){
	
	.timelinebox {
	margin-left: 0px;
	}
	
}


@media only screen  and (min-device-width : 320px)  and (max-device-width : 568px)  and (orientation : portrait) {

		.container {
			width: 100%;
		}

		#pattern {
			display: none;
		}

		.fa-play, .fa-pause {
			display: none;
		}
		
		section {
			padding: 50px 0 !important;
		}
        
        #brand-logo {
    		width: 50%;
			height: 50%;
		}
        
        
         .owl-theme .owl-controls .owl-buttons{
	display: none;
}
		
		h1 {
			font-size: 35px;
		}
		
		.main section.welcome-section h1 {
			font-size: 30px;
			line-height: 40px;
		}
		
		h2 {
			font-size: 35px;
			line-height: 35px;
		}
		
		h3.title {
			font-size: 25px;
		}
		
		h4 {
			font-size: 17px;
			line-height: 20px;
		}
		
		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}
		
		#countdown_dashboard {
			display: block;
			margin: 0px auto;
			max-width: 900px;
			overflow: hidden;
		}
		
		.dash {
			margin: 0;
			width: 100%;
		}
		
		#countdown_dashboard .dash-glob:nth-child(3) {
			border: none;
		}
		
		.info-content {
			max-width: 180px;
		}
		
		#formcontactus {
			margin-top: 40px;
		}
		
		.social-icons .btn {
			margin-right: 5px;
		}
		
		.social-icons .btn-round {
			height: 40px;
			width: 40px;
		}
		
		.social-icons .btn-round i {
			top: 7px;
		}
		
		a#go-top {
			top: 90px;
		}
		
		#carousel-services {
			margin-top: 40px;
		}
		
		.sub-down {
			top: 0 !important;
		}
		
		.fa-bell {
			margin-bottom: 15px;
		}

		#subscribe {
			padding-left: 0;
			padding-right: 0;
		}
		
		#subscribe .form-control {
			width: 100%;
			margin-bottom: 10px;
		}
		
		#subscribe input#mail-sub {
			width: 100%;
		}
		
		#subscribe button.submit {
			color: #FFFFFF;
			font-size: 16px;
			line-height: 20px;
			padding: 11px 16px;
			transition: all 0.3s ease-in-out 0s;
			width: 100%;
			margin-left: 0;
		}
		
		.controls .fa {
			margin: 12px 0 0 220px;
		}
		
		#countdown_dashboard {
			margin-bottom: 0;
			margin-top: 0;
		}
		
		.digit {
			font-size: 42px;
			height: 50px;
			line-height: 50px;
		}
		
		.mfp-bg {
			height: auto;
			background: none;
		}
		
		.mfp-wrap {
			background: #F0F0F0;
			height: auto;
			max-height: 200%;
		}
		
		.mfp-container {
			max-height: 200%;
			height: auto;
			background: #F0F0F0;
		}
		
		.mfp-close {
			position: absolute;
			top: 5px !important;
			right: 5px !important;
			background-size: cover !important;
			z-index: 99999 !important;
			width: 40px !important;
			height: 40px !important;
		}

		#popup-informations {
			padding-top: 70px;
		}
		
		#popup-informations h2 {
			font-size: 22px;
			font-weight: 300;
		}
		
		.info-content h2 {
			font-size: 16px;
			line-height: 16px;
			margin-top: 20px;
		}
		
		.info-content h2 small {
			font-size: 14px;
		}
		
		.about-section p {
			font-size: 12px;
		}
		
		h3.title-spec {
			font-size: 30px;
		}
		
		.welcomeblock {
			padding-top: 50px;
			width: 100%;
			margin: auto;
		}

		.specsend:hover:after {  
		    right: 1.6em;
		}
		
	}
		
/* *=*=*=*=*=*=*=*=*=* Phone landscape *=*=*=*=*=*=*=*=*=* */

@media only screen  and (min-device-width : 320px)  and (max-device-width : 568px)  and (orientation : landscape) {

		.container {
			width: 100%;
		}
		
		

		#pattern {
			display: none;
		}

		.fa-play, .fa-pause {
			display: none;
		}
		
		section {
			padding: 50px 0 !important;
		}
		
		h1 {
			font-size: 35px;
		}
		
		.main section.welcome-section h1 {
			font-size: 30px;
			line-height: 40px;
			margin: 0;
			padding: 0;
		}
		
		h2 {
			font-size: 35px;
			line-height: 35px;
		}
		
		h3.title {
			font-size: 25px;
		}
		
		h4 {
			font-size: 17px;
			line-height: 20px;
		}
		
		.welcome-section h2 {
			font-size: 17px;
			line-height: 20px;
		}

		.scrollbott {
			bottom:5px;
		}
		
		#countdown_dashboard {
			display: block;
			margin: 0px auto;
			max-width: 900px;
			overflow: hidden;
		}
		
		.dash {
			margin: 0;
			width: 100%;
		}
		
		.dash-glob {
			width: 25%;
		}
		
		.info-content {
			max-width: 180px;
		}
		
		#formcontactus {
			margin-top: 40px;
		}
		
		a#go-top {
			top: 100px;
		}
		
		#carousel-services {
			margin-top: 40px;
		}
		
		.sub-down {
			top: 0 !important;
		}
		
		#subscribe {
			width: 100%;
		}
		
		#subscribe .form-control {
			width: 100%;
			margin-bottom: 10px;
		}
		
		#subscribe input#mail-sub {
			width: 100%;
		}
		
		#subscribe button.submit {
			color: #FFFFFF;
			font-size: 16px;
			line-height: 20px;
			padding: 11px 16px;
			transition: all 0.3s ease-in-out 0s;
			width: 100%;
			margin-left: 0;
		}
		
		.controls .fa {
			margin: 12px 0 0 430px;
		}
		
		#countdown_dashboard {
			margin-bottom: 0;
			margin-top: 0;
		}
		
		.digit {
			font-size: 42px;
			height: 50px;
			line-height: 50px;
		}
		
		.mfp-bg {
			height: auto;
			background: none;
		}
		
		.mfp-wrap {
			background: #F0F0F0;
			height: auto;
			max-height: 400%;
		}
		
		.mfp-container {
			max-height: 400%;
			height: auto;
			background: #F0F0F0;
		}
		
		.mfp-close {
			position: absolute;
			top: 5px !important;
			right: 5px !important;
			background-size: cover !important;
			z-index: 99999 !important;
			width: 40px !important;
			height: 40px !important;
		}
		
		#popup-informations h2 {
			font-size: 22px;
			font-weight: 300;
		}
		
		.info-content h2 {
			font-size: 16px;
			line-height: 16px;
			margin-top: 20px;
		}
		
		.info-content h2 small {
			font-size: 14px;
		}
		
		.about-section p {
			font-size: 12px;
		}
		
		h3.title-spec {
			font-size: 30px;
		}
		
	}
